# latex file endings
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
*.toc

**/_minted-*/**
presentation.pdf
proceedings.pdf

# Version control the toy plots only on an opt-in basis.
**/toys_*/*.png
!**/toys_*/H_bb.png
!**/toys_*cheat_train_test/H_Zγ.png
!**/toys_*cheat_train_test/H_ZZ*.png
!**/toys_*changed/H_WW.png