# latex file endings
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
*.toc

**/_minted-main/**
main.pdf